@import "tailwindcss";

@theme {
  /* Cores */
  --color-primary-blue: #106eb0;
  --color-primary-orange: #ec7000;
  --color-primary-gray: #33303e;
  --color-second-gray: #4e3b59;
  --color-gray-phone: #f4f4f4;
  --color-txt-gray: #7a7786;
  --color-opacity-gray: rgba(100, 80, 57, 0.1);

  /* Imagens */
  --background-image-background-hero: url("../assets/bg-hero.jpg");
}
